<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="com.nothing.ketchum.permission.ENABLE" />

    <queries>
        <package android:name="com.nothing.thirdparty" />
    </queries>

    <application>
        <service
            android:name="com.madebygps.dotfasting.glyph.NothingFastToyService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.nothing.glyph.TOY" />
            </intent-filter>
            <meta-data
                android:name="com.nothing.glyph.toy.name"
                android:resource="@string/glyph_toy_name" />
            <meta-data
                android:name="com.nothing.glyph.toy.image"
                android:resource="@drawable/glyph_toy_preview" />
            <meta-data
                android:name="com.nothing.glyph.toy.summary"
                android:resource="@string/glyph_toy_summary" />
            <meta-data
                android:name="com.nothing.glyph.toy.longpress"
                android:value="1" />
            <meta-data
                android:name="com.nothing.glyph.toy.aod_support"
                android:value="1" />
        </service>
    </application>
</manifest>
